<div id="modal-contact" class="modal">
  <div class="modal-content">
    <h4>Formularz kontaktowy</h4>
    <%= form_tag venue_contact_path(@venue), class: 'col s12' do %>
      <div class="row">
        <div class="input-field col s4">
          <%= text_field_tag :name %>
          <%= label_tag :name %>
        </div>
        <div class="input-field col s4">
          <%= email_field_tag :email %>
          <%= label_tag :email %>
        </div>
        <div class="input-field col s4">
          <%= text_field_tag :phone %>
          <%= label_tag :phone %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= text_area_tag :message, nil, class: 'materialize-textarea validate' %>
          <%= label_tag :message %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <%= button_tag class: 'modal-action modal-close waves-effect waves-light light-blue darken-2 btn' do %>
            <i class="material-icons left">send</i>Wyślij
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
