<section class="filter section">
    <div class="container">
        <h4>Znajdź idealne miejsce na konferencję</h4>
        <%= form_tag venues_path, method: :get, class: 'filter__wrap z-depth-1' do %>
          <div class="row">
            <div class="col s12">
              <%= text_field_tag :query, params[:query], placeholder: 'Nazwa lub opis obiektu, słowa kluczowe…' %>
            </div>
          </div>
          <div class="row">
            <div class="col s5">
              <div class="row">
                <div class="col s5">
                  <%= label_tag :hall_size, 'Wielkość sali (miejsca)' %>
                </div>
                <div class="col s7">
                  <div class="range-input" data-min="0" data-max="<%= @max_places %>">
                    <%= hidden_field_tag :hall_size, (params[:hall_size] || "0,#{@max_places}") %>
                  </div>
                  <div class="filter__slot-types">
                    <input name="slot-type" type="radio" id="filter-slot-sitting" value="0" <%= "checked" if params['slot-type'] == '0' %> />
                    <label for="filter-slot-sitting">siedzące</label>
                    <input name="slot-type" type="radio" id="filter-slot-standing" value="1" <%= "checked" if params['slot-type'] == '1' %> />
                    <label for="filter-slot-standing">stojące</label>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col s5">
                <%= label_tag :halls_count, 'Ilość sali' %>
              </div>
              <div class="col s7">
                <div class="range-input" data-min="0" data-max="<%= @max_halls_count %>">
                  <%= hidden_field_tag :halls_count, (params[:halls_count] || "0,#{@max_halls_count}") %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s5">
                <%= label_tag :hotel_size, 'Wielkość hotelu (miejsca)' %>
              </div>
              <div class="col s7">
                <div class="range-input" data-min="0" data-max="<%= @max_hotel_size %>">
                  <%= hidden_field_tag :hotel_size, (params[:hotel_size] || "0,#{@max_hotel_size}") %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s5">
                <%= label_tag :radius_size, 'W odległości (km)' %>
              </div>
              <div class="col s7">
                <div class="range-input" data-min="0" data-max="20" data-decimals="1" data-step="0.25">
                  <%= hidden_field_tag :radius_size, (params[:radius_size] || '0,20') %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s5">
                <%= label_tag :average_rating, 'Średnia ocen' %>
              </div>
              <div class="col s7">
                <div class="range-input" data-min="0" data-max="5" data-decimals="1" data-step="0.1">
                  <%= hidden_field_tag :average_rating, (params[:average_rating] || '0,5') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col s4">
            <div class="row">
              <div class="col s12">
                <%= label_tag :attributes, 'Udogodnienia' %>
                <%= text_field_tag :attributes, params[:attributes], placeholder: 'Podaj atrybut…', class: 'tags-input', id: 'filter-attributes' %>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="row">
              <div class="col s12">
                <%= hidden_field_tag :location, (params[:location] || '50.0647, 19.945') %>
                <div class="map"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 filter__submit">
            <%= button_tag class: 'btn waves-effect waves-light light-blue darken-2' do %>
              <i class="material-icons">youtube_searched_for</i> Filtruj
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</section>

<section class="venues section">
  <div class="container">
    <div class="row">
      <% if @venues.each do |venue| %>
        <%= render partial: 'venue', locals: { venue: venue } %>
      <% end.empty? %>
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title"><%= t 'not_found.title' %></span>
            <p><%= t 'not_found.description' %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for :scripts do %>
  <%= javascript_include_tag 'filter' %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpI_0fWP3Q1ghq2Ul-VF2ZsAFCZTA_vwY&callback=initMap"></script>
<% end %>
