<div class="row">
  <div class="col s12">
    <h3><%= t 'venues.navbar.title' %></h3>
  </div>
  <form class="col s12">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input id="venue_search" type="tel" class="validate" name="search" value="<%= params[:search] %>">
      <label for="venue_search"><%= t 'search' %></label>
    </div>
  </form>
  <% if @venues.each_with_index do |venue, index| %>
    <div class="col s12 m6" <% if index % 2 == 0 %>style="clear: left"<% end %>>
      <div class="card card-venue">
        <% if venue.photos.any? %>
          <div class="card-image">
            <%= image_tag venue.photos.first.image %>
            <span class="card-title"><%= venue.name %></span>
          </div>
        <% end %>
        <div class="card-content black-text">
          <% unless venue.photos.any? %>
          <span class="card-title"><%= venue.name %></span>
          <% end %>
          <p><%= truncate(venue.description, length: 150) %></p>
        </div>
        <div class="card-action right-align">
          <%= link_to (t :show), venue %>
        </div>
      </div>
    </div>
  <% end.empty? %>
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title"><%= t 'not_found.title' %></span>
          <p><%= t 'not_found.description' %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
