<div class="parallax-container venue__header white-text">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s8">
          <h1><%= @venue.name %></h1>
          <ul class="accessories">
            <% @venue.features.each do |feature| %>
                <li class="chip light-blue darken-2 white-text">
                  <% if feature.icon? %>
                      <i class="material-icons"><%= feature.icon %></i>
                  <% end %>
                  <%= feature.name %>
            <% end %>
          </ul>
        </div>
        <div class="col s4 venue__header-info">
          <ul class="rating yellow-text text-accent-4">
            <li class="white-text"><%= @venue.average_rating %></li>
            <% (1..@venue.average_rating.floor).each do %>
                <li class="material-icons">star</li>
            <% end %>
            <% (@venue.average_rating.floor..@venue.average_rating.ceil-1).each do %>
                <li class="material-icons">star_half</li>
            <% end %>
            <% (@venue.average_rating.ceil..4).each do %>
                <li class="material-icons">star_border</li>
            <% end %>
          </ul>
          <p class="venue__header-tel"><i class="material-icons left">call</i><%= @venue.phone %></p>
          <p class="venue__header-location"><i class="material-icons left">location_on</i><%= @venue.city %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag @venue.photos.first.image %></div>
</div>
<section class="venue__details">
  <div class="container">
    <div class="row">
      <div class="col s8">
        <div class="venue__description section">
          <h4 class="underline">Opis</h4>
          <div><%= simple_format @venue.description %></div>
        </div>
        <div class="venue__halls section">
          <h4 class="underline">Sale</h4>
          <div class="row">
            <% @venue.halls.each do |hall| %>
                <div class="col s6">
                  <div class="card card--venue hoverable">
                    <% if hall.photos.any? %>
                        <div class="card-image activator">
                          <%= image_tag hall.photos.first.image, class: 'activator' %>
                        </div>
                    <% end %>
                    <div class="card-content activator">
                      <span class="card-title activator grey-text text-darken-4"><%= hall.name %><i class="material-icons right activator">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4"><%= hall.name %><i class="material-icons right">close</i></span>
                      <p><%= hall.description %></p>
                      <div class="divider"></div>
                      <ul>
                        <li><strong><%= hall.chairs %></strong> miejsc siedzących</li>
                        <li><strong><%= hall.capacity %></strong> miejsc stojących</li>
                      </ul>
                      <i class="material-icons fancybox">local_see</i>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="venue__hotels section">
          <h4 class="underline">Hotele</h4>
          <div class="row">
            <% if @venue.hotels.each do |hotel| %>
                <div class="col s6">
                  <div class="card card--venue hoverable">
                    <% if hotel.photos.any? %>
                        <div class="card-image activator">
                          <%= image_tag hotel.photos.first.image, class: 'activator' %>
                        </div>
                    <% end %>
                    <div class="card-content activator">
                      <span class="card-title activator grey-text text-darken-4"><%= hotel.name %><i class="material-icons right activator">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4"><%= hotel.name %><i class="material-icons right">close</i></span>
                      <div class="divider"></div>
                      <i class="material-icons fancybox">local_see</i>
                    </div>
                  </div>
                </div>
            <% end.empty? %>
                <div class="col s12">
                  <div class="card card--venue hoverable">
                    <div class="card-content activator">
                      <span class="card-title activator grey-text text-darken-4">Ten ośrodek nie posiada hoteli.</span>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="venue__gallery section">
          <h4 class="underline">Galeria zdjęć</h4>
          <ul class="row">
            <% @venue.photos.each do |photo| %>
                <li class="col s3"><%= image_tag photo.image, class: 'z-depth-1 hoverable' %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div class="venue__location section">
          <h4 class="underline">Lokalizacja</h4>
          <div class="map" data-property="geoposition" data-geoposition="<%= @venue.geoposition %>"></div>
        </div>
        <div class="venue__contact section">
          <h4 class="underline">Kontakt <a href="#modal-contact" class="right waves-effect waves-light btn light-blue darken-2 modal-trigger"><i class="material-icons left">email</i>napisz</a></h4>
          <ul>
            <% if @venue.phone? %><li><i class="material-icons">call</i><span><%= @venue.phone %></span></li><% end %>
            <li><i class="material-icons">email</i><span><%= @venue.email %></span></li>
            <% if @venue.website? %><li><i class="material-icons">public</i><span><%= @venue.website %></span></li><% end %>
            <li><i class="material-icons">location_on</i><span><%= simple_format @venue.address %></span></li>
          </ul>
        </div>
        <div class="venue__reviews section">
          <h4 class="underline">
            Oceny
            <a href="<%= user_signed_in? ? '#modal-review' : '#modal-login' %>" class="right waves-effect waves-light btn light-blue darken-2 modal-trigger">
              <i class="material-icons left">comment</i>
              <%= user_signed_in? ? 'dodaj' : 'zaloguj' %>
            </a>
          </h4>
          <ul class="collection">
            <% @venue.reviews.each do |review| %>
                <li class="collection-item avatar">
                  <i class="material-icons circle light-blue darken-2">face</i>
                  <strong class="title"><%= review.user.first_name %></strong>
                  <% if review.comment? %>
                      <p><%= review.comment %></p>
                  <% else %>
                      <p class="grey-text text-lighten-1">brak komentarza</p>
                  <% end %>
                  <div class="secondary-content black-text">
                    <span class="material-icons yellow-text text-accent-4">star</span> <%= review.stars %>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'review', locals: { venue: @venue, review: @review } %>
<%= render 'contact' %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'venue' %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpI_0fWP3Q1ghq2Ul-VF2ZsAFCZTA_vwY&callback=initMap"></script>
<% end %>
