<div class="row">
  <div class="col s12">
    <h1><%= @venue.name %></h1>
  </div>
  <div class="col s12">
    <div class="card green">
      <div class="card-content white-text">
        <p><%= simple_format @venue.description %></p>
      </div>
    </div>
  </div>
  <% if @venue.photos.any? %>
    <div class="col s12">
      <div class="card green lighten-5">
        <div class="card-content black-text row">
          <% @venue.photos.each do |photo| %>
            <%= image_tag photo.image, class: 'col s3 materialboxed', data: { caption: photo.title || '' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col s12 m8">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header"><span class="card-title"><%= t :halls %></span></li>
        <% @venue.halls.each do |hall| %>
          <li class="collection-item row">
            <div class="col s6">
              <%= render partial: 'hall', locals: { hall: hall } %>
            </div>
            <% if hall.photos.any? %>
              <div class="col s6 row">
                <% hall.photos.each do |photo| %>
                  <%= image_tag photo.image, class: 'col s6 materialboxed' %>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content black-text">
        <span class="card-title"><%= t 'contact.header' %></span>
        <%= simple_format(@venue.address) %>
        <br />
        <div class="row">
          <a href="tel:<%= @venue.phone %>" class="waves-effect waves-light btn col s10 offset-s1">
            <i class="tiny material-icons">phone</i><%= @venue.phone %>
          </a>
        </div>
        <div class="row">
          <a href="#" class="waves-effect waves-light btn col s10 offset-s1">
            <i class="tiny material-icons">mail</i> <%= t 'contact.send_message' %>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header"><span class="card-title"><%= t :hotel %></span></li>
        <% if @venue.hotels.each do |hotel| %>
          <li class="collection-item">
            <%= render partial: 'hotel', locals: { hotel: hotel } %>
          </li>
        <% end.empty? %>
          <li class="collection-item"><%= t 'venue.no_hotels' %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <iframe class="col s12 map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= URI.encode(@venue.geoposition) %>&key=AIzaSyCk1E3ZhPKzWeVJW4MpLrb1XhPWPTBijpg" allowfullscreen></iframe>
</div>
