<div class="row">
  <div class="col s12">
    <h1><%= @venue.name %></h1>
  </div>
  <div class="col s12">
    <div class="card green">
      <div class="card-content white-text">
        <p><%= simple_format @venue.description %></p>
      </div>
    </div>
  </div>
  <% if @venue.photos.any? %>
    <div class="col s12">
      <div class="card green lighten-5">
        <div class="card-content black-text row">
          <% @venue.photos.each do |photo| %>
            <%= image_tag photo.image, class: 'col s3 materialboxed', data: { caption: photo.title || '' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col s12 m8">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header"><span class="card-title"><%= t :halls %></span></li>
        <% @venue.halls.each do |hall| %>
          <li class="collection-item row">
            <div class="col s6">
              <%= render partial: 'hall', locals: { hall: hall } %>
            </div>
            <% if hall.photos.any? %>
              <div class="col s6 row">
                <% hall.photos.each do |photo| %>
                  <%= image_tag photo.image, class: 'col s6 materialboxed' %>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <iframe class="col s12 map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= URI.encode(@venue.geoposition) %>&key=AIzaSyCk1E3ZhPKzWeVJW4MpLrb1XhPWPTBijpg" allowfullscreen></iframe>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content black-text">
        <span class="card-title"><%= t 'contact.header' %></span>
        <%= simple_format(@venue.address) %>
        <br />
        <div class="row">
          <a href="tel:<%= @venue.phone %>" class="waves-effect waves-light btn col s10 offset-s1">
            <i class="tiny material-icons left">phone</i><%= @venue.phone %>
          </a>
        </div>
        <div class="row">
          <a href="#" class="waves-effect waves-light btn col s10 offset-s1">
            <i class="tiny material-icons left">mail</i> <%= t 'contact.send_message' %>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header"><span class="card-title"><%= t :hotel %></span></li>
        <% if @venue.hotels.each do |hotel| %>
          <li class="collection-item">
            <%= render partial: 'hotel', locals: { hotel: hotel } %>
          </li>
        <% end.empty? %>
          <li class="collection-item"><%= t 'venue.no_hotels' %></li>
        <% end %>
      </ul>
    </div>
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header">
          <span class="card-title"><%= t "venues.reviews.header" %></span>
        </li>
        <% if @venue.reviews.each do |review| %>
          <li class="collection-item avatar">
            <i class="material-icons circle">perm_identity</i>
            <span class="title"><strong><%= review.user.first_name %></strong></span>
            <p>
              <% unless review.comment.empty? %>
                <%= review.comment %>
              <% else %>
                <span class="grey-text"><em><%= t 'venues.reviews.no_comment' %></em></span>
              <% end %>
            </p>
            <span class="secondary-content black-text">
              <div class="rating">
                <i class="material-icons rating-icon">star</i>
                <div class="rating-stars"><%= review.stars %></div>
              </div>
            </span>
          </li>
        <% end.empty? %>
          <li class="collection-item">
            <%= I18n.t "venues.reviews.empty" %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="collection-item avatar">
            <i class="material-icons circle grey">perm_identity</i>
            <span class="title"><strong><%= current_user.first_name %></strong></span>
            <%= form_for [@venue, @review] do |f| %>
              <div class="field">
                <% (1..5).each do |stars| %>
                  <%= f.radio_button :stars, stars %>
                  <%= f.label "stars_#{stars}", class: 'no-circle' do %>
                    <i class="material-icons">star</i>
                  <% end %>
                <% end %>
              </div>
              <div class="field">
                <%= f.text_area :comment, class: 'materialize-textarea', placeholder: (t "venues.reviews.comment") %>
              </div>
              <div class="row">
                <%= f.button class: 'btn col s10 offset-s1' do %>
                  <%= I18n.t 'venues.reviews.create' %>
                  <i class="material-icons right">send</i>
                <% end %>
              </div>
            <% end %>
          </li>
        <% else %>
          <li class="collection-item">
            <%= link_to (I18n.t "venues.reviews.sign_in"), new_user_session_path %> <%= t "venues.reviews.to_leave_your_review" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
