<div id="modal-password" class="modal modal-small">
    <div class="modal-content">
        <h4>Zmiana hasła</h4>
        <%= form_for(current_user, as: "user", url: user_registration_path, html: { method: :put, class: "row" }) do |f| %>
            <div class="input-field col s12">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>
            <div class="input-field col s12">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <div class="input-field col s12">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            <div class="input-field col s12">
                <button class="modal-action waves-effect waves-light light-blue darken-2 btn"><i class="material-icons left">lock</i>Zmień hasło</button>
            </div>
        <% end %>
    </div>
</div>
