<!DOCTYPE html>
<html>
<head>
  <title>OTOKonfa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='header'>
    <%= link_to root_path do %>
      <%= image_tag 'otokonfa-white', alt: (t 'home'), class: 'header-logo' %>
    <% end %>
    <nav class='header-nav'>
    </nav>
  </header>
  <div class='content'>
    <%= yield %>
  </div>
</body>
</html>
