<!DOCTYPE html>
<html>
<head>
  <title>OTOKonfa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='header'>
    <%= link_to root_path do %>
      <%= image_tag 'otokonfa-white', alt: (t 'home'), class: 'header-logo' %>
    <% end %>
    <nav class='header-nav'>
      <% if !user_signed_in? %>
        <%= link_to (t 'authorization.sign_in'), new_user_session_path %>
        <%= link_to (t 'authorization.sign_up'), new_user_registration_path %>
      <% else %>
        Zalogowano jako <%= current_user.first_name %> <%= current_user.last_name %>.
        <%= link_to (t 'authorization.sign_out'), destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>
  <div class='centering'>
    <div class='centered content'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
