<div class='row'>
  <div class='col s12 m8 offset-m2'>
    <div class='card'>
      <div class="card-content black-text">
        <span class="card-title"><%= I18n.t 'authentication.sign_up' %></span>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :first_name %>
            <%= f.email_field :first_name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :last_name %>
            <%= f.email_field :last_name %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions right-align">
            <%= render "users/shared/links" %>
            <%= f.button class: 'btn waves-effect waves-light' do %>
              <%= I18n.t 'authentication.sign_up' %><i class="material-icons right">send</i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
